<h1>Listing all orders</h1>

<div class="span12">
    <% if @orders.any? %>
      <h3>Orders (<%= @orders.count %>)</h3>
      <table class="table table-hover table-striped">
        <tr>
            <th>Order ID</th>
            <th>Recipient</th>
            <th>Purchased Items</th>
            <th>Total Price </th>
            <th>Shipping Type</th>
            <th>Order Placed</th>
            <th>Shipping Status</th>
        </tr>
        <%= render @orders %>
    </table>
      <%= will_paginate @orders %>
    <% end %>
  </div>
</div>