<footer class="footer">
  <small>
    e-Store created by Group 5 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",    help_path %></li>
      <li><%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %></li>
    </ul>
  </nav>
</footer>